th { padding:20px; }
td { padding:10px; }
p { font-family:Calibri; 
    font-size:15px;
    color:purple;
}
img { border: 10px solid blue; }
a { text-decoration:none; }
a:hover { color: purple; }

.heading {
    font-family:Consolas;
    color:white;
    font-size:30px;
    text-align:center;
    background-color:red;
}

.tabs {
    text-align:center;
    background-color: rgb(139, 215, 139);
    font-size:20px;
}

.tabfocused {
    text-align:center;
    color:rgb(139, 215, 139);
    background-color:purple;
    font-size:20px;
}

.desc {
    background-color: rgb(255, 182, 193);
    font-family:Arial;
    color:blue;
}
